[data-id=card]{
    position:relative;
    display:flex;
    flex-direction: column;
}

[data-id=cardFooter]{
    box-sizing: border-box;
    height:100%;
    width:100%;
    flex-grow: 0;
    display:flex;
    flex-direction: row-reverse;
}

[data-id=cardBody]{
    box-sizing: border-box;
    height:100%;
    width:100%;
    padding:0;
    flex-grow: 1;
}

[data-id=bodyWrapper]{
    box-sizing: border-box;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

[data-id=bodyWrapperRelative]{
    box-sizing: border-box;
    height:100%;
    width:100%;
}