.THIS {
    position: t(myCardPosition_absolute);
    top: 0;
    left: 0;
    right: 0;
    bottom: -0.75rem;
    border-radius: t(myRadius);
    overflow-y: scroll;
    overflow-y: overlay;
}

.THIS div[class~=scroller] {
    box-sizing: inherit;
    height: calc(100% + 0.75rem);
    width: 100%;
    margin-right: calc(100% - 100vw);
    border-radius: t(myRadius);
}

.THIS div[class~=scroller]> :first-child {
    box-sizing: inherit;
    height: 100%;
    width: 100%;
}