table>thead>tr th {
    position: static;
    border-top: 0;
    padding: 0;
    padding-right: 2.5rem;
    padding-left: 1px;
}

table>thead>tr th div {
    position: absolute;
    top: 0;
    height: 1.5rem;
}

table>tbody>tr td {
    border-top: 0;
}

hr {
    margin: 1rem 0 0 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorderSeparatorAlt, rgb(221, 219, 218));
}

mark {
    background-color: white;
    font-weight: bolder;
}