.THIS .dropDown{
    position: absolute;
    margin-top: 0.5rem;
    padding: 0.5rem;
    height: auto;
    width: 50%;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid gray;
}

.THIS .option{
    margin-left: 0.5rem;
}