.THIS {
    height: calc(100% + var(--lwc-templateGutters, 0));
    padding-bottom: var(--lwc-templateGutters, 0) !important;
}

.THIS [data-id=middleSlider] {
    font-size: var(--lwc-varFontSize7);
}

.THIS .middleSizeController_static {
    display: none;
}

.THIS .middle {
    position: relative;
    width: 100%;
    top: 0;
}

.THIS .middle_fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 98;
}

.THIS .middleSizeController_fixed {
    box-sizing: border-box;
    width: 25%;
    right: 0.3rem;
    border-radius: var(--lwc-pageHeaderBorderRadius);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 99;
}

.THIS .middleSizeBar {
    display: none;
}

.THIS .middleSizeBar_Undisable {
    display: contents;
}

.THIS .middleSizeController_zoom {
    box-sizing: content-box;
    width: min-content;
}

.THIS .middle_scale_1 {
    z-index: 98;
    display: none;
}

.THIS .middle_scale_4 {
    z-index: 98;
    transform: scale(0.3, 0.3);
    transform-origin: top right;
}

.THIS .middle_scale_6 {
    z-index: 98;
    transform: scale(0.6, 0.6);
    transform-origin: top right;
}

.THIS .middle_scale_8 {
    z-index: 98;
    transform: scale(0.8, 0.8);
    transform-origin: top right;
}

.THIS .middle_scale_10 {
    z-index: 98;
    transform: scale(1, 1);
    transform-origin: top right;
}