.THIS {
    height: calc(100% + var(--lwc-templateGutters, 0));
    padding-bottom: var(--lwc-templateGutters, 0) !important;
}

.THIS [data-id=middleSizeController]{
    margin-top:0;
}

.THIS .middleSizeController_static {
    display: none;
}

.THIS .middle {
    position: relative;
    box-sizing: border-box;
    width:100%;
}

.THIS .middle_fixed {
    position: fixed;
    right:0;
    z-index: 98;
}
.THIS .middle_fixed2 {
    position: fixed;
    right:0.75rem;
    width:calc(100% - 2.25rem);
    box-sizing:border-box;
    z-index: 98;
}

.THIS .middleSizeController_fixed {
    box-sizing: border-box;
    right: 0;
    border-radius: var(--lwc-pageHeaderBorderRadius);
    z-index: 99;
}

.THIS .middleSizeBar {
    display: none;
}

.THIS .splitMiddle{
    right:0.75rem;
    width: calc(100% - 26.5rem);
}