[data-id=mainCard] {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: inherit;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

[data-id=mainHeader] {
    margin-top: 0%;
    margin-bottom: 0%;
}

[data-id=cardBody] {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    flex-grow: 4;
    margin-top: 0%;
    margin-bottom: 0%;
}

[data-id=mainBodyRelative] {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    top: 0;
}

[data-id=mainFooter] {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    flex: 0;
    bottom: 0;
    margin-top: 0%;
    margin-bottom: 0%;
}

[data-id=mainBodyAbsolute] {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

[data-id=mainBodyStatic] {
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
}

[data-id=mainBodyTableWrapper] {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-top: 2rem;
    background-color: antiquewhite;
}

table thead th {
    position: static;
    padding-top: 0;
    padding-bottom: 0;
}

table thead th>div {
    position: absolute;
    top: 0;
    display: flex;
    min-height: 2rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

c-contact-create-by-l-w-c {
    display: contents;
}