.THIS {
        display: flex;
        box-sizing: t(myBoxSize);
        height: t(myHeight);
        width: t(myWidth);
        -webkit-flex-direction: t(myflexDirection_column);
        -ms-flex-direction: t(myflexDirection_column);
        flex-direction: t(myflexDirection_column);
        background-color: t(myCardBackgroundColor);
        border-radius: t(myRadius);
    }
    
    .THIS> :first-child {
        position: relative;
        display: inherit;
        flex-basis: 10%;
        padding-left: 0.75rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border-color: darkgrey;
        box-shadow: 0.2rem;
    }
    
    .THIS [class~=cardHeader] {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
        box-sizing: border-box;
        min-width: 0;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    @media(any-hover:hover) {
        .THIS [class~=cardHeader]:hover {
            background-color: darkorange;
            text-shadow: 2rem;
            border-radius: 0.25rem;
        }
    }
    
    .THIS [class~=mediaFigure] {
        margin-right: 0.75rem;
        flex-shrink: 0;
        background-color: var(--lwc-colorBackgroundHighlightSearch);
        display: inline-block;
        border-radius: 0.25rem;
        line-height: 1;
    }
    
    .THIS [class~=mediaIcon] {
        display: flex;
        align-items: center;
        background-color: transparent;
    }
    
    .THIS [class~=mediaTitle] {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        flex-grow: 3;
        white-space: nowrap;
    }
    
    .THIS div[class~=cardHeader]> :last-child {
        padding-right: 0.75rem;
        flex: none;
    }
    
    .THIS> :nth-child(2) {
        position: relative;
        display: flex;
        box-sizing: t(myBoxSize);
        height: t(myHeight);
        width: t(myWidth);
        flex-grow: t(myflex_grow_large);
        border-radius: t(myRadius);
        flex-direction: column;
    }
    
    .THIS [class~=divTable] {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
    }
    
    .THIS [class~=divTable_relative] {
        position: relative;
        padding-top: 2rem;
        background-color: aliceblue;
        box-sizing: border-box;
        display: block;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    
    .THIS [class~=divTable_static] {
        position: static;
        box-sizing: border-box;
        display: block;
        height: 100%;
        width: 100%;
        overflow: auto;
    }
    
    .THIS [class~=divTable] table thead th {
        position: static;
        padding-top: 0;
        padding-bottom: 0;
        border-top: 0;
    }
    
    .THIS [class~=divTable] table thead th>div {
        position: absolute;
        top: 0;
        min-height: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    .THIS> :last-child {
        display: t(myDisplay_flex);
        flex-grow: t(myflex_grow_small);
        flex-direction: t(myflexDirection_row_reverse);
        flex-wrap: t(myflex_wrap_nowrap);
        background-color: t(myCardBackgroundColor);
    }
    
    .THIS> :last-child> :first-child {
        margin-top: 0.75rem;
        margin-right: 0.75rem;
        margin-bottom: 0.75rem;
    }
    
    .THIS [class~=buttonMenuItem] {
        right: 0;
        left: auto;
    }